@{
    ViewData["Title"] = "Home Page";
}


<div class="full-width-image">
    <img src="~/images/welcome-image.jpg" alt="Welcome Image" class="img-fluid" />
</div>

<style>
    .full-width-image {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-left: 0;
        margin-right: 0;
    }

        .full-width-image img {
            width: 100%;
            height: auto;
        }
</style>